.title-contact {
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 25px;
}

.para-contact {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 20px 0px 20px;
}

.formulaire {
    margin: 20px;

    .left-right-form {
        @media (min-width: 768px) {
            display: flex;
            gap: 50px;
            margin: 0px 100px 0px 100px;
        }

        .left-form {
            display: flex;
            flex-direction: column;
        
            @media (min-width: 768px) {
                width: 50%;
            }

            label {
                display: flex;
                justify-content: flex-start;
            }

            input {
                width: 100%;
                margin-top: 5px;
                border-radius: 50px;
                border: 1px solid black;
                margin-bottom: 5px;
                height: 25px;
                text-indent: 10px;
                background-color: rgb(236, 236, 236);
            
                &:focus {
                    outline: none;
                }
            }

            
        }

        .right-form {
            @media (min-width: 768px) {
                width: 50%;
            }

            textarea {
                margin-bottom: 5px;
                margin-top: 5px;
                border-radius: 10px;
                text-indent: 10px;
                width: 100%;
                background-color: rgb(236, 236, 236);
            
                @media (min-width: 768px) {
                    width: 100%;
                }
            
                &:focus {
                    outline: none;
                }
            }
        }
    }

    .submit {
        margin-top: 20px;
        width: 150px;
        height: 35px;
        background-color: black;
        color: white;
        border: none;
        border-radius: 50px;
        transition: 0.2s;
    
        @media (min-width: 768px) {
            margin: 5px 0px 0px 100px;
        }
    
        &:hover {
            background-color: orange;
            color: black;
        }
    }
}


.error-message-active {
    font-size: 10px;
    color: red;
    font-size: 15px;
}


.first-name-div {
    margin-bottom: 10px;
    width: 100%;
}

.last-name-div {
    margin-bottom: 10px;
}

.mail-div {
    margin-bottom: 10px;
}

