#mouse-follower {
    width: 30px;
    height: 30px;
    background-color: gray;
    opacity: 0.5;
    border-radius: 50px;
    position: absolute;
    border: 1px solid #000;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: 0.1s;
    pointer-events: none;
}