header {
    position: sticky;
    top: 0;
    background-color: orange;

    .title-plus-section {
        position: relative;

        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 10px 15px 10px;
        }

        .title-page-desktop {
            display: none;

            @media (min-width: 768px) {
                display: flex;
            }
        }

        .title-hero-section-desktop {
            font-size: 20px;
        }

        nav {
            background-color: rgba(247, 247, 247, 0.455);
            backdrop-filter: blur(10px);
            width: 100%;
            top: -500px;
            position: absolute;
            transition: 0.5s;
        
            @media (min-width: 768px) {
                left: 50%;
                transform: translateX(-50%);
                margin-top: 15px;
                width: auto;
                top: 0;
                position: absolute;
                background-color: transparent;
                transition: none;
            }
    
            ul {
                padding: 30px 0px 30px 0px;
                font-size: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                @media (min-width: 768px) {
                    padding: 0px;
                    flex-direction: row;
                    display: flex;
                    gap: 30px;
                }
    
                li {
                    padding-bottom: 10px;
    
                    @media (min-width: 768px) {
                        padding-bottom: 0;
                    }
                }
                
                a {
                    text-decoration: none;
                    color: black;
                
                    &:hover {
                        color: rgb(255, 255, 255);
                        transition: 0.3s;
                    }
                }
    
                .line-separation {
                    width: 0%;
                    height: 1px;
                    background-color: black;
                    margin: 10px 0px 10px 0px;
                    transition: 2s;
                
                    @media (min-width: 768px) {
                        display: none;
                    }
                }
            
                .line-separation-active {
                    width: 50%;
                    transition-delay: 0.5s;
                }
            }
        }
        .nav-active {
            top: 0;
        }
        
        .line {
            width: 100%;
            height: 1px;
            background-color: black;
            margin-top: 20px;
        }
    } 

    .title-plus-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 30px 15px 30px;

        @media (min-width: 768px) {
            display: none;
        }

        .title-hero-section-mobile {
            font-size: 20px;

            @media (min-width: 768px) {
                display: none;
            }
        }
    }
}

// MENU BURGER -------------------------------------------
.menu-burger {
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;


    @media (min-width: 768px) {
        display: none;
    }

    .burger-line {
        width: 30px;
        height: 2px;
        background-color: black;
        border-radius: 50px;
        transition: 0.5s;
    }
}

// TRANSITION DELAY TOP ET DOWN LINE -------------------------------------------
.top-line {
    transition-delay: 0.4s;
}

.down-line {
    transition-delay: 0.4s;
}

// ANNIMATION BURGER LINE -------------------------------------------
.top-line-active {
    transform: translateY(7px) rotate(45deg);
}

.middle-line-active {
    transform: scaleX(0);
}

.down-line-active {
    transform: translateY(-7) rotate(-45deg);
}